<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends 'form.html' %}
        {% block center %}
    <div align=center>
    <h2>계정 수정 페이지 입니다!</h2> 
    <form method="post">{% csrf_token %}
        <input type="text" value="{{userInfo.username}}" name="username"><br>
        <input type="text" value="{{userInfo.last_name}}" name='last_name'><br>
        <input type="text" value="{{userInfo.first_name}}" name='first_name'><br>
        <input type="text" value="{{userInfo.email}}" name='email'><br>
        <input type="submit" value="수정"><br>
    </form>
    </div>
        {% endblock %}    
    </body>
</html>